<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->

    <script src="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script src="//codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.3.2/spin.min.js"></script>
    <style type="text/css">
    html, body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
    /* APP */
    html, body {
        width: 100%;
        height: 100%;
        overflow:hidden;
    }
    #map-canvas {
        width: 75%;
        height: 100%;
        position:absolute;
    }
    #map-tools {
        width: 25%;
        height: 100%;
        right: 0px;
        position:absolute;
        font-family: Helvetica,Arial,sans-serif;
    }
    #currentlayers li.layer {
        padding:5px;
        cursor: pointer;
        border-bottom: 1px solid black;
    }
    #currentlayers li.layer.hidden {
        background: #ccc;
        color: #666;
    }
    </style>    
</head>
<body>
    <div id="map-canvas"></div>
    <div id="map-tools">
        <form id="layerform">
            <select id="layerselect">
                <option value="none">Add layer</option>
                {% for table in database_tables %}
                <option value="{{ table.get_model_name }}">{{ table }}</a>
                {% endfor %}
            </select>
            <button id="addlayer">add</button>
        </form>
        <ul id="currentlayers"></ul>
    </div>
    <script type="text/javascript">

var spinOpts = {
  lines: 11, // The number of lines to draw
  length: 9, // The length of each line
  width: 2, // The line thickness
  radius: 0, // The radius of the inner circle
  corners: 1, // Corner roundness (0..1)
  rotate: 0, // The rotation offset
  direction: 1, // 1: clockwise, -1: counterclockwise
  color: '#000', // #rgb or #rrggbb or array of colors
  speed: 1, // Rounds per second
  trail: 60, // Afterglow percentage
  shadow: false, // Whether to render a shadow
  hwaccel: false, // Whether to use hardware acceleration
  className: 'spinner', // The CSS class to assign to the spinner
  zIndex: 2e9, // The z-index (defaults to 2000000000)
  top: 'auto', // Top position relative to parent in px
  left: 'auto' // Left position relative to parent in px
};
        var spinner = new Spinner(spinOpts).spin();

        map = new L.map('map-canvas', {scrollWheelZoom: false, maxZoom:15, minZoom:9});

        var Layer = Backbone.Model.extend({
            urlRoot: '/getLayer',
            defaults: {
                geojson: '',
                map: map,
                layer: null,
                hidden: false
            },
            hideFromMap: function() {
                this.get('map').removeLayer(this.get('layer'));
                return this;
            },
            showOnMap: function() {
                this.get('map').addLayer(this.get('layer'));
                return this;
            },
            fitBounds: function() {
                // Zoom and extent
                this.get('map').fitBounds(this.get('geojson').extent)
            },
            addToMap: function() {
                var layer = L.geoJson(this.get('geojson'), {
                    pointToLayer: function(feature, latlng) {
                        return new L.CircleMarker(latlng);
                    },
                    style: function (feature) {
                        var style =  {
                            color: "#b00",
                            weight: 2,
                            fillColor: "#b00", 
                            opacity: 0.5,
                            fillOpacity: 0.3
                        }
                        if(feature.geometry.type == "Point") {
                            style.radius = 3;
                        }
                        return style
                    },
                    onEachFeature: function(feature, layer) {
                        if (feature.properties) {
                            // Bind a key: value string for each property of
                            // every feature in the layer.
                            var props = [];
                            feature.properties.forEach(function(property){
                                props.push("<strong>" + property[0] + "</strong>: " + property[1])
                            });
                            layer.bindPopup(props.join("<br/>"));
                            layer.on('popupopen', function(e) {
                                e.target.setStyle({
                                    color: "#00b",
                                    fillColor: "#00b"
                                });

                            });
                            layer.on('popupclose', function(e) {
                                e.target.setStyle({
                                    color: "#b00",
                                    fillColor: "#b00"
                                });
                            });
                        }
                    }
                });

                this.set({layer: layer});

                this.fitBounds();

                return this;
            }

        });

        var LayerView = Backbone.View.extend({
            root: $("#currentlayers"),
            tagName : "li",
            className: "layer",
            initialize: function(options) {
                // Here we're relying on the fact that calling
                // fetch() will auto fill the `geojson` property of this
                // model instance, instantly triggering the following method.
                this.model.bind("change:geojson", _.bind(this.render, this));
                this.$el.on('click', _.bind(function(e) {
                    if(!this.hidden) {
                        this.model.hideFromMap();
                        this.hidden = true;
                    } else {
                        this.model.showOnMap();
                        this.hidden = false;
                    }
                    this.$el.toggleClass("hidden");
                }, this));
            },
            render: function() {
                this.el.innerHTML = this.model.id;
                this.$el.append(spinner.spin().el);
                this.root.append(this.el);
                this.model.addToMap();
                this.model.showOnMap();
                spinner.stop();
                return this;
            }
        });

        var LayerCollection = Backbone.Collection.extend({
            model: Layer,
            initialize: function() {
                this.bind('add', function(layer){
                    // fetch() will load in `geojson` and then fire
                    // the change event.
                    layer.fetch();
                    // Then we insantiate a view for the layer and render it.
                    new LayerView({ model: layer }).render();
                });
            }
        });

        /* Google Tiles */
        var googleLayer = L.tileLayer("http://{s}.google.com/vt/?hl=en&x={x}&y={y}&z={z}&s={s}", {
             attribution: "Map data: Copyright Google, 2013",
             subdomains: ['mt0','mt1','mt2','mt3']
        });
        map.addLayer(googleLayer);
        map.setView([34,-118],7); 

        var map_layers = new LayerCollection();

        $("#map-tools #addlayer").click(function(event) {
            event.preventDefault();
            var name = $("#layerselect").val();
            if(name != 'none') {
                map_layers.add(new Layer({ id: name }));
            }
        });

    </script>
</body>

