<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" />
    <![endif]-->

    <script src="//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.3.2/spin.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/FileSaver.js"></script>
    <script src="/static/js/simple_statistics.js"></script>
    <style type="text/css">
    html, body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}
    /* APP */
    html, body {
        width: 100%;
        height: 100%;
        overflow:hidden;
    }
    #map-canvas {
        width: 100%;
        height: 100%;
        position:absolute;
    }
    #map-tools {
        right: 0px;
        position:absolute;
        font-family: Helvetica,Arial,sans-serif;
    }
    #currentlayers li.layer {
        padding:5px;
        border-bottom: 1px solid black;
        border-left: 1px solid black;
        background: #fff;
    }
    #currentlayers li.layer.layer-hidden {
        background: #ccc;
        color: #666;
    }
    li.layer ul li{
        cursor: pointer;
        display: inline;
        border: 1px solid black;
        padding: 0px 2px;
    }
    </style>    
</head>
<body>
    <div id="map-canvas"></div>
    <div id="map-tools">
        <form id="layerform">
            <select id="layerselect">
                <option value="none">Add layer</option>
                {% for table in database_tables %}
                <option value="{{ table.get_model_name }}">{{ table }}</a>
                {% endfor %}
            </select>
            <button id="addlayer">add</button>
        </form>
        <ul id="currentlayers"></ul>
    </div>

    <div id="spatial-calc-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Spatial Calculator</h4>
          </div>
          <div class="modal-body">
            Contains
            <select class="layer-list"></select>
            and calculate the
            <select class="operation-list">
                <option value="avg">average</option>
                <option value="count">count</option>
                <option value="max">max</option>
                <option value="min">min</option>
                <option value="sum">sum</option>
                <option value="stddev">Std. Deviation</option>
            </select>
            of the field
            <select class="field-list"></select>
          </div>
          <div class="modal-footer">
            <button type="button" class="go btn btn-primary">Go</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script id="tool-template" type="text/template">
        <ul>
            <li class="calc">c</li>
            <li class="view">v</li>
            <li class="save">s</li>
        </ul>
    </script>
    <script type="text/javascript">

        var spinOpts = {
            lines: 11, // The number of lines to draw
            length: 9, // The length of each line
            width: 2, // The line thickness
            radius: 0, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            direction: 1, // 1: clockwise, -1: counterclockwise
            color: '#000', // #rgb or #rrggbb or array of colors
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: false, // Whether to render a shadow
            hwaccel: false, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: 'auto', // Top position relative to parent in px
            left: 'auto' // Left position relative to parent in px
        };
        var spinner = new Spinner(spinOpts);

        map = new L.map('map-canvas', {scrollWheelZoom: false, maxZoom:15, minZoom:9});

        var Layer = Backbone.Model.extend({
            urlRoot: '/getLayer',
            url: function() {
                if(!this.get('url')) {
                    var base = _.result(this, 'urlRoot') || _.result(this.collection, 'url') || urlError();
                    if (this.isNew()) return base;
                    return base + (base.charAt(base.length - 1) === '/' ? '' : '/') + encodeURIComponent(this.id);
                } else {
                    return this.get('url');
                }
            },
            defaults: {
                geojson: '',
                map: map,
                layer: null,
                type: null,
                hidden: false,
                url: null
            },
            downloadGeoJson: function() {
                var json = JSON.stringify(this.get('geojson'));
                var blob = new Blob([json], {type: "text/json;charset=utf-8"});
                saveAs(blob, this.id + ".geojson");
            },
            spatialCalc: function(layer, operation, field) {
                /*
                * Returns a new layer based on the options you pass in.
                */
                var urlTemplate = _.template('/spatialCalc/<%= poly.id %>/<%= points.id %>/<%= operation %>/<%= field %>/');
                var url = "";
                switch(this.get("type")){
                    case "point":
                        if(layer.get("type") == "path")
                            url = urlTemplate({poly: layer, points: this, operation: operation, field: field})
                        break;
                    case "path":
                        if(layer.get("type") == "point")
                            url = urlTemplate({poly: this, points: layer, operation: operation, field: field})
                        break;
                } 
                var newLayer = new Layer({ id: this.id + '_' + layer.id + '_' + operation, url: url })
                map_layers.add(newLayer);
                return newLayer;
            },
            styleForBreaks: function(breaks, property) {
                var get_color = function(value) {
                    for(var i=0; i<breaks.length; i++) {
                        if(value < breaks[i][0]) {
                            return breaks[i][1];
                        }
                    }
                    return null;
                }
                this.get('layer').setStyle(function(layer) {
                    var value = parseFloat(layer.properties[property]);
                    var color = get_color(value);
                    if(color) {
                        console.log(color);
                        return { fill: true, fillColor: color };
                    } else {
                        return { fill: false };
                    }
                });
            },
            hideFromMap: function() {
                this.get('map').removeLayer(this.get('layer'));
                this.set('hidden', true);
                return this;
            },
            showOnMap: function() {
                this.get('map').addLayer(this.get('layer'));
                this.set('hidden', false);
                return this;
            },
            toggleVisibilty: function() {
                if(!this.get('hidden')) {
                    this.hideFromMap();
                } else {
                    this.showOnMap();
                }
                return this;
            },
            fitBounds: function() {
                // Zoom and extent
                this.get('map').fitBounds(this.get('geojson').extent)
                return this;
            },
            addToMap: function() {
                var layer = L.geoJson(this.get('geojson'), {
                    pointToLayer: function(feature, latlng) {
                        return new L.CircleMarker(latlng);
                    },
                    style: _.bind(function (feature) {
                        var style =  {
                            color: "#b00",
                            weight: 2,
                            fillColor: "#b00", 
                            opacity: 0.5,
                            fillOpacity: 0.3
                        }
                        if(feature.geometry.type == "Point") {
                            this.set("type", "point");
                            style.radius = 3;
                        } else {
                            this.set("type", "path")
                        }
                        return style
                    }, this),
                    onEachFeature: function(feature, layer) {
                        if (feature.properties) {
                            // Bind a key: value string for each property of
                            // every feature in the layer.
                            var props = [];
                            _.each(feature.properties, function(v,k){
                                props.push("<strong>" + k + "</strong>: " + v)
                            });
                            layer.bindPopup(props.join("<br/>"));
                            layer.on('popupopen', function(e) {
                                e.target.setStyle({
                                    color: "#00b",
                                    fillColor: "#00b"
                                });

                            });
                            layer.on('popupclose', function(e) {
                                e.target.setStyle({
                                    color: "#b00",
                                    fillColor: "#b00"
                                });
                            });
                        }
                    }
                });

                this.set({layer: layer});

                this.fitBounds();

                return this;
            }

        });

        var LayerView = Backbone.View.extend({
            root: $("#currentlayers"),
            $scm: $('#spatial-calc-modal'),
            tagName : "li",
            className: "layer",
            rendered: false,
            optionTemplate: _.template("<option value=\"<%= val %>\"><%= name %></option"),
            toolsTemplate: $("#tool-template").html(),
            initialize: function(options) {
                // Start with a spinner.
                this.$el.append(spinner.spin().el);
                // We only have to append this element
                // to the container once.
                this.root.append(this.el);
                // Here we're relying on the fact that calling
                // fetch() will auto fill the `geojson` property of this
                // model instance, instantly triggering the following method.
                this.model.bind("change:geojson", _.bind(this.render, this));
                // When we hide a layer, gray out its representation in the list.
                this.model.bind("change:hidden", _.bind(function(e) {
                    this.$el.toggleClass("layer-hidden");
                }, this));
                // Toolbar.
                this.$el.append(this.toolsTemplate);
                // Bind the view button to toggleVisibility.
                $(".view", this.$el).on('click', _.bind(function(e) {
                    this.model.toggleVisibilty();
                }, this));
                // And our save button to download
                $(".save", this.$el).on('click', _.bind(function(e) {
                    this.model.downloadGeoJson();
                }, this));
                // Spatial calc dialog
                $(".calc", this.$el).on('click', _.bind(function(e) {
                    var $layerlist = $(".layer-list", this.$scm);
                    var $fieldlist = $(".field-list", this.$scm);
                    //Clear the lists, in case we have new layers.
                    $layerlist.html("");
                    $fieldlist.html("");
                    $layerlist.change(_.bind(function(e) {
                        $fieldlist.html("");
                        var layer = $(e.currentTarget).val();
                        var model = map_layers.get(layer);
                        var props = model.attributes.geojson.features[0].properties;
                        // Add all of the properties we can choose from the layer
                        // we've selected.
                        alert(props);
                        _.each(props, _.bind(function(v, k) {
                            $fieldlist.append(
                                this.optionTemplate({val: v, name:k})
                            )
                        },this));
                        
                    }, this));
                    // Add all of the layers that aren't the current layer to the
                    // options for spatial calculation.
                    map_layers.forEach(_.bind(function(layer) {
                        if(layer.id !== this.model.id) {
                            $layerlist.append(
                                this.optionTemplate({val: layer.id, name: layer.id})
                            )
                        }
                    }, this));
                    // trigger an immediate change so we get the field options
                    // for the initial model in the layerlist.
                    $layerlist.change();
                    this.$scm.modal(); // Fire the dialog box
                    // Kill any other event handlers
                    $(".go", this.$scm).unbind('click');
                    // And bind the click to run the operation
                    $(".go", this.$scm).on('click', _.bind(function(e) {
                        // We're going to force-cast everything to float for now.
                        var field = $(".field-list", this.$scm).val() + "::float";
                        var layer = $(".layer-list", this.$scm).val();
                        var operation = $(".operation-list", this.$scm).val();
                        // Run the calculation, which should create a new layer
                        // and add it to the map automagically.
                        this.model.spatialCalc(map_layers.get(layer), operation, field);
                        this.$scm.modal('hide');
                    }, this));

                }, this));
            },
            render: function() {
                spinner.stop();
                this.$el.append(this.model.id);
                if(!this.rendered) {
                    this.model.addToMap();
                    this.model.showOnMap();
                }
                this.rendered = true;
                return this;
            }
        });

        var LayerCollection = Backbone.Collection.extend({
            model: Layer,
            initialize: function() {
                this.bind('add', function(layer){
                    // bind our layer to a view.
                    new LayerView({ model: layer })
                    // Then fetch() will load in `geojson` and then fire
                    // the change event, which triggers a render.
                    layer.fetch();
                });
            }
        });

        /* Google Tiles */
        var googleLayer = L.tileLayer("http://{s}.google.com/vt/?hl=en&x={x}&y={y}&z={z}&s={s}", {
             attribution: "Map data: Copyright Google, 2013",
             subdomains: ['mt0','mt1','mt2','mt3']
        });
        map.addLayer(googleLayer);
        map.setView([34,-118],7); 

        var map_layers = new LayerCollection();

        $("#map-tools #addlayer").click(function(event) {
            event.preventDefault();
            var name = $("#layerselect").val();
            if(name != 'none') {
                map_layers.add(new Layer({ id: name }));
            }
        });

    </script>
</body>

